/* 떨어져있던 거 */

body .section_board {
	width: auto;
	height: 1000px;
	border: 1px solid white;
}

body .section_board .board {
	height: 700px;
	margin: 0 auto;
	margin-top: 100px;
}
@media ( min-width :1400px) {
	body .section_board .board {
		width: 1200px;
	}
}

@media ( max-width :1400px) {
	body .section_board .board {
		max-width: 1200px;
		min-width: 1100px;
	}
}

@media ( max-width :1200px) {
	body .section_board .board {
		max-width: 1100px;
		min-width: 1000px;
	}
}

body .section_board .board .board_mainName {
	width: 75%;
	margin: 0 auto;
	font-size: 25px;
}

.board_mainName span {
	font-weight: bold;
	text-align: left;
	font-size: 25px;
	letter-spacing: 3px;
	border-bottom: 1px solid black;
}

body .section_board .board .board_box {
	width: 100%;
	height: 700px;
	margin-top: 25px;
	/*    border: 1px solid blue; */
}

.board_box .writeform {
	width: 75%;
	margin: 0 auto;
}
.boardLine {
	width: 75%;
	border-bottom: 1px solid #dadada;
	margin: auto;
	font-size: 11pt;
	color: #5a5a5a;
	height: 60px;
	line-height: 35px;
	display: flex;
	align-items: center;
}

.boardLine * {
	font-size: 14pt;
}

.boardLine .num {
	width: 10%;
	text-align: left;
}

.boardLine .title {
	left: 0;
	text-align: left;
	width: 60%;
	font-weight: bolder;
}

.boardLine .title a {
	width: 100% !important;
	text-decoration: none;
	color: black;
	font-weight: normal;
}

.boardLine .registdate {
	width: 30%;
	float: right;
	margin-right: 10px;
	text-align: right;
}
.boardLine .num2 {
	width: 5%;
}

.boardLine .title2 {
	left: 0;
	text-align: center;
	padding-left: 30px;
	width: 70%;
	font-weight: bolder;
}

.boardLine .registdate2 {
	width: 25%;
	float: right;
	text-align: right;
}

.boardMenu2 {
	width: 100%;
	height: 50px;
	margin-top: 30px;
	margin-bottom: 20px;
	display: inline-flex;
}

/* .boardMenu2 .leftMenu2 { */
/*    width: auto; */
/*    float: left; */
/* } */
.boardMenu2 .leftMenu2 {
	width: 80%;
	margin: 0 auto;
}

.boardMenu2 .rightMenu2 {
	width: 75%;
	margin: 0 auto;
}

.rightMenu2 .btn {
	float: left !important;
}


/* ====================게시판 읽기 (boardRead) CSS========================= */
.boardList {
	width: 100%;
	margin-bottom: 20px;
}

.boardMenu {
	width: 100%;
	height: 50px;
	margin-top: 50px;
	margin-bottom: 20px;
	position: relative;
	text-align: center;
}

.boardMenu .leftMenu form {
	display: inline-block;
}

.boardMenu .rightMenu {
	width: 75%;
	margin: 0 auto;
}

.boardMenu .rightMenu .btn {
	float: right !important;
}

.boardMenu2 {
	width: 100%;
	height: 50px;
	margin-top: 30px;
	margin-bottom: 20px;
	display: inline-flex;
}

/* .boardMenu2 .leftMenu2 { */
/*    width: auto; */
/*    float: left; */
/* } */
.boardMenu2 .leftMenu2 {
	width: 80%;
	margin: 0 auto;
}

.boardMenu2 .rightMenu2 {
	width: 75%;
	margin: 0 auto;
}

.rightMenu2 .btn {
	float: left !important;
}

.boardLine {
	width: 75%;
	border-bottom: 1px solid #dadada;
	margin: auto;
	font-size: 11pt;
	color: #5a5a5a;
	height: 60px;
	line-height: 35px;
	display: flex;
	align-items: center;
}

.boardLine * {
	font-size: 14pt;
}

.boarlineTitle {
	border-bottom: 3px double grey !important;
}

.boarlineTitle * {
	font-weight: bold !important;
}

.boardLine2 {
	width: 80%;
	border-bottom: 1px solid #dadada;
	margin: auto;
	font-size: 11pt;
	color: #5a5a5a;
	height: 40px;
	line-height: 35px;
	display: flex;
}

.boardLine .num {
	width: 10%;
	text-align: left;
}

.boardLine .title {
	left: 0;
	text-align: left;
	width: 60%;
	font-weight: bolder;
}

.boardLine .title a {
	width: 100% !important;
	text-decoration: none;
	color: black;
	font-weight: normal;
}

.boardLine .registdate {
	width: 30%;
	float: right;
	margin-right: 10px;
	text-align: right;
}

.boardLine .num2 {
	width: 5%;
}

.boardLine .title2 {
	left: 0;
	text-align: center;
	padding-left: 30px;
	width: 70%;
	font-weight: bolder;
}

.boardLine .registdate2 {
	width: 25%;
	float: right;
	text-align: right;
}

.boardLine * {
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.boardMenu3 {
	width: 100%;
	height: 50px;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: auto;
	display: inline-flex;
}

.boardMenu3 .leftMenu3 {
	width: 550px;
}

.boardMenu3 .leftMenu3 input {
	width: auto;
	float: left;
}

.boardMenu3 .rightMenu3 {
	width: 550px;
}

.boardMenu3 .rightMenu3 input {
	width: auto;
	float: right;
}

.boardContent {
	text-align: left;
	padding: 20px;
	border: 1px solid #dadada;
	border-top: 0px;
	width: 75%;
	height: 450px;
	margin: auto;
}

div.boardList a {
	display: block;
	width: 500px;
}

div.paging {
	width: auto;
	height: auto;
	text-align: center;
}

div.paging div {
	width: 35px;
	height: 35px;
	border: 1px solid #dadada;
	display: inline-flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

div.paging div a {
	color: #dadada !important;
	text-decoration: none;
}

div.paging div strong {
	color: black !important;
}

div.boardLine:hover {
	background-color: #dadada;
}

div.boardMenu input[type="text"] {
	height: 25px;
}

div.boardMenu select {
	width: 80px;
	height: 30px;
}

div.boardLine input, div.boardLine input {
	padding: 7px;
	border: 1px solid skyblue;
}

div.boardLine input:focus, div.boardLine input:focus, textarea:focus {
	border: 1px solid rgb(135, 145, 235);
}

textarea {
	width: 100%;
	height: 100%;
	margin: 0px;
	resize: none;
	border: none;
}
