.contract-page {
	margin: 0 auto;
	width: 900px; 
	height: 1000px; 
	border: 1px
}

#contractTitle {
	height: 15%; text-align: left; display: flex; align-items: center; margin: 0 auto;
}
#contractTitle h1 {
	text-align: left !important;
    margin: 5px 0 10px 0 !important;
    font-size: 19pt !important;
    font-weight: 300 !important;
    color: navy !important;
    border-top: 1.7px solid navy !important;
    border-bottom: 2.5px solid navy !important;
}

.contract-container {
	margin: 0 auto;
	height: 85%; 
	width: 100%
}

.contract-container .contract-form {
	margin: 0 auto;
	width: 800px; 
	height: 800px;
}

#allcheck {
	margin-right: 10px;
}

input[type="text"] {
		padding-left: 10pt;
}

input[type="button"], input[type="submit"], label.forLabel {
	background-color: white;
	border: 3px solid #3088F9;
	color: #3088F9;
	outline: none;
	border-radius: 10px;
}

input.next {
	border: 3px solid navy !important;
	color: navy !important;
	width: 200px !important; height: 70px !important; font-size: 24pt !important; margin: 0 auto !important; margin-top: 15px !important;
}

input[type="submit"]:hover, input[type="button"]:hover,  label.forLabel:hover{
	transition: all 0.3s ease 0s;
	cursor: pointer;
	box-shadow: 0px 15px 20px rgba(223, 227, 238);
	transform: translate(-2px, -2px);
	color: white !important;
	background-color: #3088F9;
	border: 1px solid white;
	font-weight: bold;
}

input.next:hover {
	background-color: navy !important;
}

#contract-page {
	margin-bottom: 15px;
}

#iconDiv, #contract-page {
	width: 800px;
	margin: 0 auto;
	text-align: left;
}

#iconDiv i {
	color: #3088F9;
	text-shadow: 2px 2px 2px #afafaf;
}


.c1div {
	text-align: left; width: 80%; height: 45%; margin: 0 auto; position: relative;
}

.c1div label {
	position: absolute;
	bottom: 0;
	color: #0080ff !important;
}

.c1div p {
	display: flex;
	align-items: center;
	font-size: 14pt;
}

.c1div label input {
	margin-right: 10px;
} 


div .AllPre {
	margin: 0 auto;
	width: 80%; 
	height: 40px; 
	text-align: left; 
	margin-top: 15px; 
	margin-bottom: 15px; 
	display: flex; 
	align-items: center; 
	font-size: 18pt; 
	font-weight: bold;
	color: navy;
}

div.container {
	width: 100%;
	height: 100%;
}

div .termdiv {
	width: 100%; height: 70%; margin-bottom: 10px
}

.termdiv pre {
	text-align: left !important;
	overflow-y: scroll;
	white-space: pre-wrap;
	width: 100%;
	height: 100%;
	border: 1px solid #afafaf;
	margin: auto;
	padding: 10px;
	color: grey;
}

div p i {
	margin-right: 5px;
}

#reportcard-space, #img-space {
	width: 600px
}

div.c2-input {
	margin: 0 auto;
	width: 600px;
	height: 50px;
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.c2-input input, div.c2-input select {
	width: 400px;
	height: 40px;
}
div.c2-input input[type="button"] {
	padding: 0 !important;
}
div.c2-input input[type="file"], div.c3-input input[type="file"]{
	position: absolute;	
	width: 0 !important;
	height: 0 !important;
	right: 0;
	top: 0;
	padding: 0 !important;
	z-index: 0;
}
div.c2-input label, div.c3-input label {
	margin-left: 200px;
	width: 200px;
	height: 40px;
	z-index: 1000;
}

div.c2-input h1, div.c3-input h1 {
	width: 200px;
	height: 40px;
	font-size: 14pt;
	display: flex;
	align-items: center;
}

div[name="address"] input {
	width: 100% !important;
}

div.c3-input {
	margin: 0 auto;
	width: 600px;
	height: 50px;
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}




div.message {
	margin: 0 auto;
	width: 600px;
	font-size: 12pt;
	text-align: right;
}



label i.far:hover {
	color: grey;
	font-family: "Font Awesome 5 Free" !important;
	font-weight: 900 !important;
}

.c4-title {
	font-size: 36pt; margin: 0 auto; color: navy;
}

.c4-Div {
	width: 800px; height: 600px;  margin: 0 auto; margin-bottom: 15px;
}

.c4-sideDiv {
	width: 50%; height: 100%; display: inline-block; 
}

.categoryDiv {
	display: table;
	background-color: white; 
	width: 100%; 
	height: 22%
}
.categoryDiv {
	display: table;
	background-color: white; 
	width: 100%; 
	height: 22%
}

.categoryDiv div {
	display: flex;
	width: 100%; 
	height: 100%; 
	align-items: center;
}

.categoryDiv div input[type="checkbox"] {
	width: 35px;
	height: 35px;
}

.categoryDiv div h1 {
	font-size: 28pt; 
	width: 150px; 
	display: inline-block;
	text-align: center;
}

.categoryDiv div img {
	height: 120px;
	float: right;
}