input[type="button"] {
	outline: none;	
}

.container {
	margin: 0 auto;
	width: 800px; 
	height: 80%;
	margin-top: 100px !important;
}

.container .title {
	text-align: left; font-size: 28pt; display: flex; align-items: center
}

.title span {
	font-size: 22pt;
}

.optiondiv {
	display: flex; margin-bottom: 15px
}

.optiondiv input[type="button"]{
	width: 33% !important;
	height: 50px !important;
}

.optiondiv div {
	width: 0.5% !important;
}

.customerReview {
	width: 100%;  
	display: flex
}

.reviewName {
	width: 10%;
	display: inline-block;
}

.reviewContent {
	width: 50%;
	display: inline-block;
}

.reviewDate {
	width: 20%;
	display: inline-block;
}

div.subSelect {
	display: flex; 
	margin-bottom: 15px;
}

.subSelect input {
	width: 33%; 
	height: 50px;
}

.subSelect div {
	width: 0.5%;
}

input[type="button"] {
	background-color : white; 
	color : #3088F9; 
	height: 50px; 
	font-weight : bold;
	border: 1px solid #3088F9;
	border-radius: 10px;
}
input[type="button"]:hover {
 background-color : navy; 
 color : white; 
 font-weight : bold; 
 border-color : navy;
 transform: translate(0, -3px);
 transition: all 1s ease 0s;
 cursor: pointer;
}


div.reviewflex {
	width: 100%;
	height: 100px;
	display: flex;
	margin: 0 auto;
}

div.reviewflex .imgdiv {
	width: 20%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.reviewflex .imgdiv img {
	width: 100%;
}

div.reviewflex .table {
	width: 60%;
	height: 100%;
	display: table;
}

div.reviewflex .table .row {
	width: 100%;
	display: table-row;
}

.table .row .customerName {
 	width: 25%;
 	text-align: left;
 	display: inline-block;
 }
 
.table .row .cregistdate {
 	width: 75%; 
 	text-align: left; 
 	display: inline-block;
 }
 
.table .row .left10 {
   	width: 10%; 
   	text-align: left; 
   	display: inline-block;
   }

.table .row .left15 {
   	width: 15%; 
   	text-align: left; 
   	display: inline-block;
   }
   
.table .row .left35 {
   	width: 35%; 
   	text-align: left; 
   	display: inline-block;
   }

.table .row .center15 {
   	width: 15%; 
   	text-align: center; 
   	display: inline-block;
   }
 
.btndiv {
 	width: 20%;
 }
 
.btndiv input[type="button"] {
 	width: 100%;
 	height: 45%;
 }
 
.btndiv div {
  	height: 10%;
  }
  
div.extradiv {
  	width: 100%; margin-top: 10px; margin-bottom: 10px
  }
  
div.extradiv textarea {
	width: 80%; 
	border: none; 
	resize: none;
	outline: none;
	margin: 0 auto;
	font-size: 12pt;
	padding-left: 15px;
	padding-right: 15px;
}

div.extradiv img {
	width: 50%;
	margin: o auto;
}

#reviewpage div {
	height: 100%;
	display: table-cell;
}

#reviewpage .currentPage {
	vertical-align: middle; 
	border-radius: 50%; 
	border: 2px solid #666; 
	width: 48px; 
	height: 48px; 
	font-size: 24pt; 
	display: inline-block; 
	background-color : #4BC0BE; 
	color : white; 
	font-weight : bold; 
	border-color : white;
}

#reviewpage .notcurrentPage {
	vertical-align: middle; 
	border-radius: 50%; 
	border: 2px solid #666; 
	width: 48px; 
	height: 48px; 
	font-size: 24pt; 
	display: inline-block; 
	background-color : white; 
	color : #4BC0BE; 
	font-weight : bold; 
	border-color : #4BC0BE;
}

#reviewpage .currentPage:hover, #reviewpage .notcurrentPage:hover {
	transform: translate(0, -3px);
 	transition: all 1s ease 0s;
	cursor: pointer;
}

#reviewpage i {
	vertical-align: middle;
	color: #4BC0BE !important;
}

#reviewpage i:hover {
	 transform: translate(0, -3px);
	 transition: all 1s ease 0s;
 	 cursor: pointer;
}


div.businessdiv {
  	width: 100%;
  	display: flex;
  	margin-top: 10px; 
  	margin-bottom: 40px;
  	background-color: #3088F9;
  	align-items: center;
  }
  
div.businessdiv textarea {
	width: 80%; 
	height: 100px;
	resize: none;
	margin: 0 auto;
	display: block;
}

.replydiv {
	color:white;
	width: 70%;
	float: right;
	display: flex;
	align-items: center;

}

.replydiv i {
	width: 20%;
}

.replydiv h1 {
	font-weight: bold;
	font-size: 14pt;	
}
	