.container {
	width: 1100px; 
	height: 1000px; 
	padding: 25px; 
	text-align: left;
	margin: 0 auto;
}

.pagetitlediv {
	height: 60px;
    text-align: left;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.pagetitlediv h1 {
	text-align: left !important;
    margin: 5px 0 10px 0 !important;
    font-size: 24pt !important;
    font-weight: 300 !important;
    color: navy !important;
    border-top: 1.7px solid navy !important;
    border-bottom: 2.5px solid navy !important;
}

.flex1 {
	display: flex;
}

.flex1 button {
	font-size: 24pt; 
	width: 33%; 
	height: 60px;
	margin-right: 0.5%;
	outline: none;
	background-color: #3088F9;
	color: white;
	border: 0;
	cursor: pointer;
	font-weight: bold;
}

.flex2 {
	margin-top: 30px; 
	display: flex;
}

.flex3 {
	display: inline-flex; 
	width: 450px; 
	margin-left: 50px; 
	margin-right: 100px
}

.flex3 button {
	font-size: 18pt; 
	width: 150px; 
	height: 40px;
	outline: none;
	background-color: #3088F9;
	color: white;
	border: 1px solid white;
	cursor: pointer;
}
.flex3 button.selected, .flex1 button.selected {
	background-color: #3b5998 !important;
}

.flex1 button:hover, .flex3 button:hover {
	color: #3088F9;
	border: 2px solid #3088F9; 
	background-color: white;
	transform: translate(0, -5px);
	transition: all 1s ease 0s;
}

.flex1 button.selected:hover, .flex3 button.selected:hover {
	color: #3b5998 !important;
	border: 2px solid #3b5998 !important; 
	background-color: white !important;
	transform: translate(0, -5px);
	transition: all 1s ease 0s;
}

.flex4 {
	display: inline-flex; 
	width: 500px;
}

.flex4 input[type="date"] {
	width: 250px; 
	height: 40px;
	text-align: center;
	background-color: whitesmoke;
	font-size: 14pt;
}

.flex4 span {
	font-size: 18pt; 
	margin-left: 15px; 
	margin-right: 15px
}