.outerdiv {
	width: 1000px; 
	text-align: left;
	margin: 0 auto;
}

.clonediv {
	width: 800px; height: 450px; margin: 0 auto; position: relative; opacity: 0;
}
.outerstatus1 {
	width: 270px; 
	height: 80px; 
	background-color: black; 
	clip-path: polygon(79% 0, 100% 50%, 79% 100%, 0 92%, 17% 50%, 0 8%); 
	position: absolute;  
	left: 10px; 
	top: 0;
}

.outerstatus2 {
	position: absolute; 
	top: 10px; 
	width: 250px; 
	height: 60px; 
	background-color: white; 
	clip-path: polygon(72% -13%, 100% 50%, 79% 100%, 0 100%, 19% 50%, 0 0); 
	margin-left: 12px;
	margin-bottom: 2px; 
	left: 10px;
	display: flex;
	align-items: center;	
}

.outerstatus2 h1 {
	width:100%;
	text-align: center;
	font-size: 20pt;
	}
.nulldiv {
	width: 250px; 
	height:80px;
}

.container {
	width: 100%; 
	height: 300px; 
	margin: 0 auto; 
	background-color: #e5e6eb; 
	border-radius: 20px;
	border: 6px outset #afafaf;
	margin-bottom: 30px;
	margin-right: 500px;
}

.container:hover {
	background-color: white;
	transform: translate(0, -20px);
	transition: all 1s ease 0s;
	box-shadow: 15px 30px 60px #afafaf;
	border: 15px outset #afafaf;	
	cursor: pointer;
}

h1.containerName {
	font-size: 26pt; 
	width: 65%; 
	height:50px; 
	margin: 0;
	margin-bottom: 15px !important;
	margin-top: 15px !important;
	margin-left: 40px !important;
	display: inline-block;
}

h1.requesttype {
	text-align: right;
	font-size: 22pt;
	width: 25%;
	height: 50px;
	margin: 0;
	margin-bottom: 15px !important;
	margin-top: 15px !important;
	display: inline-block;
}

.container .contentdiv {
	width: 100%; 
	height: 200px; 
	display: flex;
	padding-top: 15px;
	border-top: 4px double #afafaf;
}

.container .contentdiv .halfdiv {
	width: 50%; 
	height: 100%; 
	background-color: transparent;
		position: relative;
}

.halfdiv div {
	width: 80%; 
	height: 50%;
}

.halfdiv div h1 {
	width: 100%; 
	height: 50%;
	font-size: 20pt;
	margin: 0;
	margin-left: 60px !important;
	text-align: left;
}

.halfdiv div p {
	width: 100%; 
	height: 50%;
	font-size: 14pt;
	margin: 0;
	margin-left: 80px !important;
	text-align: left;
}

.halfdiv div.middleBorder {
	position: absolute;
	left: 0;
	top: -15px;
	width: 0px !important;
	height: 212px !important;
	border: 2px double #afafaf;
}