* {
	margin: 0;
	padding: 0;
}


/* 제목 & 수정 버튼 */
.content_title_con {
	display: flex;
	justify-content: space-between;
	margin: 5px 0 10px 0;
    text-align: left;
}

.content_title {
	text-align: left;
    margin: 5px 0 10px 0;
    font-size: 19pt;
    font-weight: 300;
    color: navy;
    border-top: 1.7px solid navy;
   	border-bottom: 2.5px solid navy;
}

.btn_con {
	display: flex;	
}

.format_btn, 
.update_btn {
	display: flex;
    cursor: pointer;
    border: none;
    width: 140px;
    outline: none;
    color: white;
    justify-content: center;
	height: 40px;
    border-radius: 8px;
    background-color: navy;
}

.update_btn {
	margin-left: 10px;
}

.icon_con i {
	font-size: 15pt;
    line-height: 40px;
}

.btn_title {
	font-size: 12pt;
    line-height: 40px;
    margin-left: 10px;
}

/* 영업시간 */
.working_hour_input {
	
}

.radio_con {
	
}

.radioBtn {
	
}

.checkbox_con {
	
}

.checkBtn {
	
}