.calendar_btn {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
  font-size: 15pt;
  height: 100%;
  border-radius: 5px;
}

.calendar_btn:focus {
  border: none;
  outline: none;
}

.calendar_btn:hover {
  transition: 0.5s;
  background-color: navy;
  color: ivory;
  cursor: pointer;
}

.calendar {
  width: 500px;
  height: 1000px;
  display: block;
}

.calendar_selector_con,
.calendar_day_con {
  width: 100%;
  margin: auto;
}

.calendar_selector_con {
  background-color: lavender;
  display: flex;
  justify-content: space-between;
}

.calendar_day_con {
  background-color: lightcoral;
}

.year_selector,
.month_selector {
  text-align: center;
  font-size: 15pt;
  font-weight: 600;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  border-color: transparent;
}

.year_selector {
  background-color: chartreuse;
}

.month_selector {
  background-color: violet;
}

.day_of_week {
  display: flex;
  justify-content: space-between;
}

.years,
.months {
  background-color: white;
  position: absolute;
  margin-top: 20px;
  width: 100px;
  display: none;
}

.dropdown_item:hover,
.dropdown_item:hover {
  cursor: pointer;
  background-color: tomato;
}

.days {
  background-color: blue;
}

.week {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: lightgreen;
}

.lastDays {
  background-color: limegreen;
  width: 100%;
  border: 1px solid mediumslateblue;
  border-radius: 5px;
}

.currentDays {
  background-color: moccasin;
  width: 100%;
  border: 1px solid mediumslateblue;
  border-radius: 5px;
}

.nextDays {
  background-color: oldlace;
  width: 100%;
  border: 1px solid mediumslateblue;
  border-radius: 5px;
}
