* {
	margin: 0;
	padding: 0;
}

.disabled_checkbox {
	cursor: not-allowed !important;
}
#accessDenied {
 z-index : 1; 
 position : absolute; 
 margin: 0 auto; 
 font-weight: bold; 
 cursor: no-drop;
 font-size: 22px;
 }
/* 폼 그림자 */
.form {
	background-color: whitesmoke;
	padding: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3)
		0px 1px 3px -1px;
}

.form:hover {
	transition: 0.5s;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 5px -1px, rgba(0, 0, 0, 0.3)
		0px 10px 15px 3px;
}

/* 도움말 말풍선 */
.help_msg_top,
.help_msg_down {
	transition: margin-top 1s;
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    background-color: navy;
    color: white;
    line-height: 25px;
    text-align: justify;
}

.help_msg_top {
	margin-top: -150px;
	margin-left: 180px;
    width: 400px;
}

.help_msg_down {
	margin-top: 10px;
	margin-left: 110px;
	width: 350px;
}

.help_msg_top:after,
.help_msg_down:after {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	bottom: -15px;
	left: 20px;
}

.help_msg_top:after {
	border-bottom: 5px solid transparent;
	border-top: 10px solid navy;
}

.help_msg_down:after {
	border-bottom: 10px solid navy;
	border-top: 5px solid transparent;	
}

/* 매장 사진 슬라이드 좌우 화살표 */
.prev {
	text-decoration: none;
    position: absolute;
    top: 37%;
    left: 0.5%;
    opacity: 0.4;
    cursor: pointer;
    font-size: 15pt;
    color: black;
}

.next {
	text-decoration: none;
    position: absolute;
    top: 37%;
    right: 0.5%;
    opacity: 0.4;
    cursor: pointer;
    font-size: 15pt;
    color: black;
}

.shop_introduction {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    height:650px;	
}

.shop_info_title_con {
	display: flex;
	justify-content: space-between;
	margin: 5px 0 10px 0;
    text-align: left;
}

.shop_info_title {
	text-align: left;
    margin: 5px 0 10px 0;
    font-size: 19pt;
    font-weight: 300;
    color: navy;
    border-top: 1.7px solid navy;
   	border-bottom: 2.5px solid navy;
}

.upload_file_name {
	margin-top: 7px;
    padding: 10px;
    width: 300px;
}

.upload_file_input {
	display: none;
}

.upload_icon_con {
	padding-top: 250px;
}

.upload_link i {
	padding: 15px;
    color: navy;
    border-radius: 20px;
    background-color: lightblue;
    cursor: pointer;
}

.upload_link i:hover {
	transform: translate(0px, -5px);
	transition: 0.5s;
	box-shadow: 3px 3px 4px 1px #999;
}

.upload_button {
	height: 45px;
    width: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: navy;
    color: ivory;
}

.upload_button:hover {
    transform: translatey(-5px);
    transition: .5s;
    box-shadow: 3px 3px 4px 1px #999;
}
	
.cover_file_text_con {
	margin-top: 8px;
}

.cover_file_text {
	font-weight: 100;
    letter-spacing: 1px;
}

.cover_file_text p {	
    text-align: center;
    width: 80%;
    margin: 0 auto;
    line-height: 30px;
    font-weight: 500;
}

.shop_image_con {
	position: relative;
	overflow: hidden;
	width: 60%;
	height: 100%;
}

.shop_image_view {
	height: 400px;
    margin-bottom: 1px;
    background-color: transparent;
    background-image: url("/drumtong/resources/business/img/management/noimage.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.shop_image_view img {
	width: 100%;
	height: 100%;
}

.shop_image_slider {
	white-space: nowrap;
	display: flex;
	list-style: none;
	height: 150px;
	overflow: auto;
	overflow-x: hidden;
}

.shop_main_picture img, .main_image_con img {
	width: 100%;
	height: 400px;
}

.shop_picture {
	position: relative;
	margin: 0 10px;
	display: flex;
}

/* .shop_picture:hover {
	transition: 0.5s;
	opacity: 1;
} */

.shop_picture:hover .fa-times {
	display: block;
    cursor: pointer;
    color: navy;
    transition: 0.5s;
}

.shop_picture img {
	height: 120px;
    width: 180px;
    cursor: pointer;
    margin: auto 0;
    border-radius: 3px;
}

.shop_picture img:hover {
	transition: 0.5s;
	opacity: 1;
	transform: scale(1.08);
	border: 1px solid #ccc;
}
	
.shop_picture .fa-times {
	display: none;
	position: absolute;
    top: 18px;
    right: 3px;
    transition: 1s;
}

.shop_picture .fa-star {
	display: block;
	position: absolute;
    top: 20px;
   	left: 5px;
    color: blue;
    transition: 0.5s;
}

.photo_add_con {
	text-align: right;
    font-weight: 600;
    color: navy;
}

.photo_add_con span {
    cursor: pointer;
	background-color: #dfe3ee;
    padding: 2px 7px;
    border-radius: 5px;
}	

.photo_add_con i {
	margin-left: 3px;
}

.add_photo_input {
	display: block;
}

.intro_add_con {
	text-align: right;
    font-weight: 600;
    color: navy;
    margin-top: 15px;
}

.intro_add_con span {
    cursor: pointer;
	background-color: #dfe3ee;
    padding: 2px 7px;
    border-radius: 5px;
}	

.intro_add_con i {
	margin-left: 3px;
}
	
.shop_text_intro_con {
	width: 30%;
	height: 100%;
}

.shop_text_intro {
	background-color: aliceblue;
    height: 500px;
    border-radius: 5px;
}

.shop_text_view {
	padding: 10px 15px;
    text-align: justify;
    letter-spacing: 0.3px;
    line-height: 1.7;
}
.current_menu_con {
	margin-top: 70px;
    margin-left: 3.33%;
    margin-right: 3.33%;
}

.current_menu {
	
}

.current_menu_table {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 20px 0;
	width: 100%;
}

.current_menu_table thead th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #fff;
	background: cornflowerblue;
	margin: 20px 10px;
}

.current_menu_table tbody th {
	padding: 10px;
}

.current_menu_table td {
	padding: 10px;
}

.current_menu_table .even {
	background: aliceblue;
}

.create_menu_con,
.return_menu_con,
.delivery_menu_con,
.address_update_con {
	margin-top: 70px;
    margin-left: 3.33%;
    margin-right: 3.33%;
}

.create_menu,
.return_menu,
.delivery_menu {
    margin-top: 20px;
}

.service_button_con {
	display: flex;
}

.update_image_btn_con, 
.update_menu_btn_con, 
.add_menu_btn_con, 
.complete_menu_btn_con,
.delivery_menu_btn_con {
	display: flex;
    cursor: pointer;
    border: none;
    outline: none;
    width: 140px;
    color: white;
    justify-content: center;
	height: 40px;
    border-radius: 8px;
}

.update_image_btn_con {
    background-color: steelblue;		
}

.update_menu_btn_con {
    background-color: #6495ED;	
}

.add_menu_btn_con {
    background-color: #6495ED;	
    margin-right: 20px;	
} 

.complete_menu_btn_con {
    background-color: steelblue;
    /* margin-right: 15%; */	
}

.delivery_menu_btn_con {
	width: 150px !important;	
	background-color: #bedcfa;
	margin-right: 20px;	
    color: white;
}

.update_image_btn_con:hover, 
.update_menu_btn_con:hover, 
.add_menu_btn_con:hover, 
.complete_menu_btn_con:hover,
.delivery_menu_btn_con:hover {
	background-color: #3b5998;
    transition: 0.5s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.add_menu_icon_con i {
	font-size: 15pt;
    line-height: 40px;
}

.add_menu_btn_title {
	font-size: 12pt;
    line-height: 40px;
    margin-left: 10px;
}

.add_item_list {
	display: block;
}

.single_item_selector {
	display: flex;
	justify-content: space-between;
    margin: 0 0 20px 0;
}

/* 카테고리 모달 */
.category_modal_btn {
	text-align: right;
    margin-bottom: -10px;
    margin-right: 5px;
    text-underline-position: under;
    text-decoration: underline;
    cursor: pointer;
}

.category_modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.category_modal_title {
	text-align: left;
    font-size: 15pt;
}

.category_content {
	padding: 30px 0;
	display: block;
}

.category_modal_content {
	position: relative;
	/* display: inline-block; */
	background-color: #fefefe;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    min-width: 800px;
}

#category-close {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 20pt;
    font-weight: 700;
	cursor: pointer;
}

.category_label_wrapper {
	display: flex;
	padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.category_checkbox_label {
	background-color: #6495ED;
    color: white;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14pt;
    cursor: pointer;
    text-align: left;
    width: 100px;
    margin: auto 0;
}

.category_checkbox_label:hover {
	transition: 0.5s;
	background-color: steelblue;
}

.category_checked {
	background-color: navy;
}

.sub_category_label {
	padding: 5px 10px;
	cursor: pointer;
	font-size: 13pt;
}

.sub_category_label:hover {
	transition: .5s;
	background-color: cornflowerblue;
	color: white;
	border-radius: 5px;
}


/* customizing menu header */
.customize_menu_head {
	list-style: none;
	display: flex;
	justify-content: space-between;
    margin: 0 0 1.5% 0;
}

.customize_menu_head li {
	border-top: 1.5px solid navy;
	border-bottom: 2px solid navy;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
}

.service_main {
	width: 16%;
}

.service_sub {
	width: 16%;
}

.service_details {
	width: 20%;
}

.service_price {
	width: 18%;
}

.service_price_input:invalid {
	border: 2px solid red;
}

.service_time {
	width: 16%;
}

/* .service_confirm {
	width: 5%;
} */

.service_cancle {
	width: 6%;
}

/* menu list */
/* main */
.menu_main_con {

}

.menu_main_wrapper {
	display: flex;
	justify-content: space-between;
	height: 70px;
}

.menu_main_icon {
	margin: auto 0;
}

.menu_main_icon i {
	font-size: 20pt;
    color: darkcyan;
    cursor: pointer;
}

.menu_main_title {
    width: 100%;
	margin: auto 0 auto 15px;
    padding: 3px 0 3px 25px;
    text-align: left;
    border-radius: 3px;
    font-size: 20pt;
    background-color: steelblue;
    color: white;
    letter-spacing: 5px;
}

.menu_main_amount {
	margin: auto 10px;
    padding: 5px 10px;
    background-color: lightgray;
    border-radius: 7px;
    color: white;
}

/* sub */
.menu_sub_wrapper {
	display: block;
}

.menu_sub_content {
    margin: 0 0 0 30px;
    display: flex;
    justify-content: space-between;
	height: 50px;
}

.menu_sub_icon {
	margin: auto 0;
}

.menu_sub_icon i {
	font-size: 15pt;
    color: darkgray;
    cursor: pointer;
}

.menu_sub_title {
	width: 100%;
    margin: auto 0 auto 15px;
    padding: 3px 0 3px 25px;
    text-align: left;
    border-radius: 3px;
    font-size: 15pt;
    background-color: cornflowerblue;
    color: white;
    letter-spacing: 5px;
}

.menu_sub_amount {
    margin: auto 12px;
    padding: 3px 8px;
    background-color: lightgray;
    border-radius: 7px;
    color: white;
}

/* detail */
.menu_detail_con {
	
}

.menu_detail_wrapper {
	margin: 0 0 0 50px;
    display: flex;
    justify-content: space-between;
	height: 50px;
}

.menu_detail_icon {
	margin: auto 0;
}

.menu_detail_icon i {
	font-size: 15pt;
    color: darkgray;
}

.menu_detail_info_con {
	display: flex;
    justify-content: space-between;
	width: 100%;
    margin: auto 0 auto 15px;
    padding: 3px 0 3px 25px;
    text-align: left;
    border-radius: 3px;
    font-size: 15pt;
    background-color: lightblue;
    color: #323232;
    letter-spacing: 2px;
}

.highlight {
	font-weight: 600;
}

.menu_detail_info_con div {
	width: 33.33%;
}

.menu_detail_option {
	margin: auto 11px;
    padding: 4px;
    background-color: lightcoral;
    border-radius: 7px;
    color: white;
}

.menu_detail_option i {
	cursor: pointer;
}

/* 서비스 메뉴 수정 모달 */
.modify_menu_modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0, 0, 0); 
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.modify_menu_modal_content {
	left: 0;
	width: 400px;
	padding: 10px 15px;
	height: 100%;
	background-color: white;
	cursor: auto;
	position: fixed;
}

.modify_menu_modal_close {
	text-align: right;
	cursor: pointer;
}

.modify_menu_modal_close i {
	font-size: 20pt;
}

.modify_menu_modal_form {
	height: 88%;
	margin: 0 10px;
}

.modify_menu_modal_title {
	font-size: 20pt;
    font-weight: 600;
    border-top: 2px solid navy;
    border-bottom: 2px solid navy;
    padding: 5px;
    margin: 5px 0;
    text-align: left;
    color: navy;
}

.toggle {
	display: flex;
    justify-content: space-between;
}

.font_large {
	font-size: 16pt;
}

.invalid,
.invalid:focus {
	border: 2px solid red !important;
}

.modify_menu_modal_input_con {
	text-align: left;
    margin: 20px 0;
}

.modify_menu_modal_input_title {
	font-size: 16pt;
    color: navy;
    margin-bottom: 15px;
}

.modify_menu_modal_input_title i {
	font-size: 18pt;
	cursor: pointer;
}

.modify_menu_modal_selector,
.modify_menu_modal_input {
	width: 100%;
    height: 45px;
    border-radius: 5px;
    text-indent: 10px;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 13pt;
    color: navy;
    border: 1px solid navy;
}

.modify_menu_modal_input:disabled {
	background-color: lightgrey;
}

.modify_menu_modal_btn_container {
	display: flex;
	float: right;
}

.modify_menu_modal_btn {
    padding: 10px 20px;
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 13pt;
    cursor: pointer;
    margin-left: 20px;
}

.modify_menu_modal_btn:hover {
	transition: 0.5s;
	background-color: navy;
}

.modify_menu_modal_btn:focus {
	outline: none;
}

.remove {
    background-color: lightcoral;
    color: white;
}

.confirm {
    background-color: #6495ED;
    color: white;
	
}

/* first property input */
.first_item_prop {
	width: 16%;
}

/* select */
.service_selector {
	width: 100%;
	margin: 0 auto;
	color: slateblue;
	height: 40px;
	cursor: pointer;
	font-size: 11pt;
	border-color: slateblue;
}

.service_selector:hover {
	background-color: #f4f0ec;
	transition: .5s;
	opacity: 0.7;
}

.service_selector:focus {
	outline: none;
}

.service_selector option {
	background-color: white;
	color: slateblue;
	cursor: pointer;
	font-weight: 100;
	font-size: 13pt;
}

.service_selector option:hover {
	
}

/* second property input */
.second_item_prop {
	width: 16%;
}

.second_item_prop input {
	/* width: 100%; */
}


/* third~fifth property input */
.third_item_prop {
	width: 20%;
}

.forth_item_prop {
	width: 18%;
}
 
.service_price_input_con {
	display: flex;
	justify-content: space-between;
}

.forth_item_prop i {
	width: 20%;
	margin: auto;
	cursor: pointer;
	font-size: 15pt;
	text-align: right;
}


.fifth_item_prop {
	width: 16%;
}

.third_item_prop input, .forth_item_prop input, .fifth_item_prop input {
	width: 100%;
	margin: 0 auto;
	color: slateblue;
	height: 38px;
	cursor: pointer;
	font-size: 11pt;
	border-color: slateblue;
	border: 1px solid;
	text-indent: 4px;
}

.third_item_prop input:focus, .forth_item_prop input:focus, .fifth_item_prop input:focus {
	background-color: #f4f0ec;
	border: 1.5px solid navy;
	outline: none;
}

.third_item_prop input:hover, .forth_item_prop input:hover, .fifth_item_prop input:hover {
	background-color: #f4f0ec;
	transition: .5s;
	opacity: 0.7;
}

.direct_type_input {
	width: 98%;
	margin: 5px auto 0 auto;
	color: slateblue;
	height: 38px;
	cursor: pointer;
	font-size: 11pt;
	border-color: slateblue;
	border: 1px solid;
	text-indent: 4px;
}

.direct_type_input:focus {
	outline: none;
	border: 1px solid;
	border-color: slateblue;
}

.direct_type_input::hover {
	background-color: #f4f0ec;
	transition: .5s;
	opacity: 0.7;
}	

/* .complete_listing {
	width: 5%;
	cursor: pointer;
	color: lime;
	line-height: 35px;
} */

.cancle_listing {
	width: 6%;
	cursor: pointer;
	color: red;
	line-height: 35px;
}

.complete_listing:hover, .cancle_listing:hover {
	font-weight: 600;
	transition: 0.5s;
}

.delete_item {
	cursor: pointer;
	color: red;
	line-height: 35px;
}

.return_menu {
	/* height: 50px; */
}

.return_menu ul {
	list-style: none;
	display: flex;
}

.return_menu ul li {
	height: 50px;
    border: 1px solid slateblue;
    border-radius: 5px;
    margin-right: 50px;
    width: 200px;
    line-height: 50px;
    cursor: pointer;
    color: navy;
}

.return_menu ul li:hover {
	transition: .5s;
	background-color: navy;
	color: white;
	border-color: transparent;
}

.return_menu ul li i {
	font-size: 15pt;
}

.return_menu ul li span {
	font-size: 13pt;
/* 	font-weight: 600; */
}

.returnOptions {
	display: none;
}

.delete_item:hover, .delete_item:hover {
	font-weight: 600;
	transition: 0.5s;
}

/* Modal */
.intro_close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-top: -20px;
	margin-right: -7px;
}

.intro_close:hover, .intro_close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.intro_modal {
	display: none; 
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0, 0, 0); 
	background-color: rgba(0, 0, 0, 0.4);
}

.intro_content_con {
	background-color: #fefefe;
	margin: 150px auto; 
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}

.intro_content {
	display: grid;
}

.store_intro_input {
	height: 300px;
    margin: 25px 10px;
    background-color: aliceblue;
    line-height: 30px;
    padding: 5px;
    resize: none;
    overflow-y: scroll; 
}

.store_intro_btn {
	margin: 0 10px;
    border: none;
    outline: none;
    height: 40px;
    background: cornflowerblue;
    color: white;
    font-weight: 500;
    font-size: 20pt;
    cursor: pointer;
}

.store_intro_btn:hover {
	background-color: #3b5998;
    transition: 0.5s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* icon */
.fa-question-circle {
	font-weight: 600;	
    font-size: 12pt;
    color: lightslategray;
}


/* 매장 주소 */
.address_input_con {
	display: flex;
	justify-content: space-between;
}

.address_wrapper {
	width: 60%;
	display: block;
}

.address_wrapper h3 {
    text-align: left;
    margin-bottom: 10px;
    text-indent: 5px;
    letter-spacing: 5px;
    color: navy;
}

.main_address_input_wrapper {
	display: flex;
    text-align: left;
    margin-bottom: 15px;
}

.main_address_input {
	height: 40px;
    width: 450px;
    text-indent: 5px;
	border: 1px solid slateblue;
    border-radius: 5px;
    cursor: pointer;
}

.address_search_button {
	cursor: pointer;
    border: none;
    outline: none;
    width: 100px;
    color: white;
    border-radius: 8px;
    background: #6495ED;
    margin-left: 20px;
}

.address_search_button:hover {
	transition: 0.5s;
	background-color: steelblue;
}

.detail_address_input_wrapper {
 	text-align: left;
}

.detail_address_input {
	height: 40px;
    width: 300px;
    text-indent: 5px;
    border: 1px solid slateblue;
    border-radius: 5px;
}

.main_address_input:hover,
.detail_address_input:hover {
	background: aliceblue;
    transition: .5s;
}

.main_address_input:focus,
.detail_address_input:focus {
	outline: none;
}

.preview_wrapper {
	width: 30%;
	display: block;
}

.preview_wrapper h3 {
    text-align: left;
    margin-bottom: 10px;
    text-indent: 5px;
    letter-spacing: 5px;
    color: navy;
}

.location_preview {
	border-radius: 10px;
    height: 200px;
}

.address_update_con {
	height: 370px;
}


/* 배달 가능 지역 > 뷰 */
.delivery_area_view_con {
}

.delivery_view_metro_con {
	background-color: mintcream;
    padding: 20px;
    margin-bottom: 30px;
}

.metroCity {
	text-align: left;
}

.metroName {
	display: inline-block;
	font-size: 15pt;
    font-weight: 600;
    letter-spacing: 3px;
    color: navy;
    border-bottom: 3px solid navy;
    padding-bottom: 10px;
}

.city {
	margin: 0 0 0 20px;
}

.cityName {
	padding: 15px;
    font-size: 14pt;
    color: navy;
    font-weight: 600;
}

.town {
	display: flex;
    flex-wrap: wrap;
	margin-top: 10px;
	margin-left: 20px;
}

.townName {
	margin-right: 10px;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid navy;
    border-radius: 5px;
    font-weight: 500;
}

/* 배달 가능 지역 > 입력 */
.delivery_area_set_wrap {
	
}

.delivery_area_set_con {
	display: flex;
}

.area_selector_con {
	
}

.area_selector {
	padding: 10px;
    width: 170px;
    margin-right: 30px;
    border: 1.5px solid navy;
    color: navy;
    letter-spacing: 3px;
}

.town_selector_con {
	display: flex;
    flex-wrap: wrap;
	margin-top: 20px;
}

.town_selector {
	padding: 10px;
    border: transparent;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 120px;
    text-align: center;
    background-color: khaki;
    letter-spacing: 3px;
    cursor: pointer;
}

.town_selector:hover {
	transition: 0.5s;
	background-color: #5c5ed3;
	color: white;
}

.town_selector input {
	margin-right: 10px;
}

/* Submit Button */
.submit_con {
    height: 100px;
    text-align: right;
	margin-left: 3.33%;
    margin-right: 3.33%;
}

.submit_btn {
	cursor: pointer;
    border: none;
    outline: none;
    width: 140px;
    background-color: navy;
    color: white;
    justify-content: center;
    height: 40px;
    border-radius: 8px;
}

.submit_btn:hover {
	transition: 0.5s;
	font-weight: 600;
}
