* {
	margin: 0;
	padding: 0;
}

/* 레이아웃 */
.working_hour,
.holiday,
.tmp_holiday {
	margin-bottom: 40px;
}

/* 선택 옵션 */
/* .selected {
	background-color: navy;
} */

/* 버튼 default */
.btn {
	cursor: pointer;
	border: none;
	outline: none;
	color: white;
	background-color: #f38181;
}

.btn:hover {
	background-color: navy;
	transition: .5s;
	color: white;
}

.btn:focus {
	outline: none;
}

.border_r {
	border-radius: 1px;
	box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.3);
}

.border_l {
	border-radius: 1px;
	box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.3);
}

/* 그림자(hover) */
.shadow {
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
	border-radius: 3px;
}

/* 투명도 */
.transparent {
	opacity: 0.7
}

/* 제목 & 수정 버튼 */
.content_title_con {
	display: flex;
	justify-content: space-between;
	margin: 5px 0 10px 0;
	text-align: left;
}

.content_title {
	text-align: left;
	margin: 5px 0 10px 0;
	font-size: 19pt;
	font-weight: 300;
	color: navy;
	border-top: 1.7px solid navy;
	border-bottom: 2.5px solid navy;
}

.btn_con {
	display: flex;
}

.format_btn, .update_btn {
	display: flex;
	width: 140px;
	justify-content: center;
	height: 40px;
	border-radius: 8px;
}

.format_btn {
	background-color: #6495EF;
}

.update_btn {
	background-color: #3b5998;
}

.format_btn:hover, .update_btn:hover {
	background-color: navy;
}

.update_btn {
	margin-left: 10px;
}

.icon_con i {
	font-size: 15pt;
	line-height: 40px;
}

.btn_title {
	font-size: 12pt;
	line-height: 40px;
	margin-left: 10px;
}

/* 영업 요일 */
.working_hour_input {
	display: block;
}

.select_con {
	/* display: flex; */
	display: block;
}

.radio_con {
	display: flex;
}

.radio_con input {
	display: none;
}

.radioBtn {
	width: 100px;
	height: 50px;
	margin-right: 20px;
}

.radioBtn:hover {
	background-color: navy;
	transition: .5s;
	color: white;
}

.checkbox_con {
	display: flex;
	margin: 12px 0 0 0;
	height: 0;
}

.checkbox_con input {
	display: none;
}

.checkBtn {
	width: 100px;
	height: 30px;
	font-size: 12pt;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	margin-right: 20px;
	background-color: #f38181;
	color: white;
}

.checkBtn:hover {
	background-color: navy;
	transition: .5s;
}

.checkBtn:disabled {
	cursor: auto;
	background-color: inherit;
	transition: 0.7s;
	pointer-events: none;
}

.checkBtn:active {
	transition: 0.7s;
}

/* 영업 시간 */
.input_time_form {
	display: flex;
	margin-top: 20px;
}

.input_time_con, .input_title_con {
	display: block;
	list-style: none;
}

.day_range, .time_range {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	height: 40px;
	background-color: antiquewhite;
    padding: 7px 10px;
    border-radius: 5px;
}

.day_range {
	background-color: whitesmoke;	
    border-radius: 5px;
}

.day_range div {
	margin: auto;
	font-weight: 500;
    font-size: 13pt;
}

.time_range input[type="number"] {
	width: 70px;
	height: 36px;
	text-indent: 10px;
	margin: auto 5px;
	font-size: 14pt;
}

.time_range input[type="number"]::-webkit-outer-spin-button, .time_range input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.time_range input[type="number"]:focus {
	outline: none;
}

.time_zone_con {
	display: flex;
}

.time_zone_input {
	display: none;
}

.time_zone_btn {
	width: 50px;
	height: 100%;
	background-color: #95e1d3;
}

.time_range_text {
    width: 50px;
	text-align: center;
	margin: auto 20px;
}

.input_title_con {
	width: 15%;
	margin-right: 20px;
	text-align: center;
}

.input_time_con {
	
}

.all_day_con {
	width: 100px;
}

.all_day_con button {
	width: 100px;
	height: 100%;
	background-color: #6495EF;
}

/* 임시휴무 설정 */
.tmp_holiday_input_con {
	
}

.select_wrapper {
	display: flex;
    height: 60px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.select_box_con {
	display: flex;
}

.select_box_con select {
	height: 100%;
    width: 100px;
    background-color: #f38181;
    border: none;
    color: white;
    margin-right: 35px;
    margin-bottom: 30px;
}

.select_box_con select:hover {
	cursor: pointer;
	transition: 0.5s;
	background-color: navy;
}

.day_selector_con {
	display: flex;
}

.day_selector {
	border: none;
    cursor: pointer;
    background-color: #95e1d3;
    margin-left: 11px;
    width: 90px;
    font-size: 15pt;
    height: 100%;
    border-radius: 5px;
    color: white;
    line-height: 60px;
    text-align: center;
}

.day_selector:hover {
	background-color: navy;
	transition: 0.5s ease-in-out;
}

.day_selector input {
	display: none;
}

/* 휴무 스케쥴 */
.h_schedule_con {
	list-style: none;
    display: block;
}

.h_schedule_list {
	display: flex;
    justify-content: space-between;
    margin: 30px 10px;
}

.h_schedule_context {
	margin: auto 0;
	word-spacing: 10px;
}

.h_schedule_delete {
	background-color: red;
    color: white;
    padding: 8px 14px;
    border-radius: 15px;
}

.h_schedule_delete:hover {
	cursor: pointer;
}

.h_schedule_delete p {
	font-weight: 600;
    text-decoration: underline;
    text-underline-position: under;
}