.calendar_btn {
	border: none;
	outline: none;
	background-color: transparent;
	width: 100%;
	cursor: pointer;
	font-size: 15pt;
	height: 100%;
	border-radius: 5px;
	border: 1px solid navy;
}

.calendar_btn:focus {
	border: none;
	outline: none;
}

.calendar_btn:hover {
	transition: 0.5s;
	background-color: navy;
	color: ivory;
	cursor: pointer;
}

.calendar {
	width: 800px;
	display: block;
	margin: 30px 0;
}

.calendar_selector_con, .calendar_day_con {
	width: 100%;
	margin: auto;
}

.calendar_selector_con {
	/* background-color: lavender; */
	display: flex;
	justify-content: space-between;
}

.calendar_day_con {
	/* background-color: lightcoral; */
}

.year_selector, .month_selector {
	text-align: center;
	height: 50px;
	width: 150px;
	border: none;
	border-radius: 5px;
	margin: 0 1px;
}

.year_selector {
	/* background-color: chartreuse; */
}

.month_selector {
	/* background-color: violet; */
}

.day_of_week {
	display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #6495EF;
    color: white;
    border-radius: 5px;
	margin: 10px 0px 1px 0;
}

.years, .months {
	background-color: white;
	position: absolute;
	margin-left: -1px;
    width: 150px;
	display: none;
	border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.dropdown_item {
	height: 30px;
    line-height: 30px;
}

.dropdown_item:hover, .dropdown_item:hover {
	cursor: pointer;
	background-color: tomato;
}

.day {
	margin: auto 0;
	width: 100%;
}

.days {
	/* background-color: blue; */
}

.week {
	display: flex;
	justify-content: space-between;
	height: 80px;
}

.lastDays {
	width: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
    background: aliceblue;
    margin: 1px 3px;
    text-align: end;
    padding: 0 3px 0 0;
    background-color: lightgrey;
}

.currentDays {
	width: 100%;
    border-radius: 5px;
    border: 0.5px solid #95e1d3;
    margin: 1px 3px;
    text-align: end;
    padding: 0 3px 0 0;
}

.nextDays {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 1px 3px;
    text-align: end;
    padding: 0 3px 0 0;
    background-color: lightgrey;
}

.lastDays:hover,
.currentDays:hover,
.nextDays:hover {
	cursor: pointer;
	background-color: navy;
	transition: 0.5s;
	color: white;
	border-color: transparent;
}

.calendar_selector_value {
	
}