/* 일정관리 > 정기 휴무 설정 > 메인 캘린더 */
.calendar_btn {
	border: none;
	outline: none;
	background-color: transparent;
	width: 100%;
	cursor: pointer;
	font-size: 15pt;
	height: 100%;
	border-radius: 5px;
	border: 1px solid navy;
}

.calendar_btn:focus {
	border: none;
	outline: none;
}

.calendar_btn:hover {
	transition: 0.5s;
	background-color: navy;
	color: ivory;
	cursor: pointer;
}

.calendar {
	width: 800px;
	display: block;
	margin: 30px 0;
}

.calendar_selector_con, .calendar_day_con {
	width: 100%;
	margin: auto;
}

.calendar_selector_con {
	/* background-color: lavender; */
	display: flex;
	justify-content: space-between;
}

.calendar_day_con {
	/* background-color: lightcoral; */
}

.year_selector, .month_selector {
	text-align: center;
	height: 50px;
	width: 150px;
	border: none;
	border-radius: 5px;
	margin: 0 1px;
}

.year_selector {
	/* background-color: chartreuse; */
}

.month_selector {
	/* background-color: violet; */
}

.day_of_week {
	display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #6495EF;
    color: white;
    border-radius: 5px;
	margin: 10px 0px 1px 0;
}

.years, .months {
	z-index: 1;
	background-color: white;
	position: absolute;
	margin-left: -1px;
    width: 150px;
	display: none;
	border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.dropdown_item {
	height: 30px;
    line-height: 30px;
}

.dropdown_item:hover, .dropdown_item:hover {
	cursor: pointer;
	background-color: tomato;
}

.day {
	margin: auto 0;
	width: 100%;
}

.days {
	/* background-color: blue; */
}

.week {
	display: flex;
	justify-content: space-between;
	height: 80px;
}

.lastDays,
.currentDays,
.nextDays {
	position: relative;
}

.lastDays {
	width: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
    background: aliceblue;
    margin: 1px 3px;
    text-align: end;
    padding: 0 3px 0 0;
    background-color: lightgrey;
}

.currentDays {
	width: 100%;
    border-radius: 5px;
    border: 0.5px solid #95e1d3;
    margin: 1px 3px;
    text-align: end;
    padding: 0 3px 0 0;
}

.nextDays {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 1px 3px;
    text-align: end;
    padding: 0 3px 0 0;
    background-color: lightgrey;
}

.lastDays:hover,
.currentDays:hover,
.nextDays:hover {
	cursor: pointer;
	background-color: navy;
	transition: 0.5s;
	color: white;
	border-color: transparent;
}

.calendar_selector_value {
	
}

/* 일정관리 > 임시 휴무 설정 > 월 검색 > 서브 캘린더 */
.s_month_selector {
	position: absolute;
	margin-left: -109px;
    margin-top: 35px;
}

.s_calendar_con {
	display: block;
    background-color: antiquewhite;
    width: 270px;
    border-radius: 5px;
    height: 205px;
    padding: 3px;
}

.s_calendar_year_con {
	position: relative;
    display: flex;
    list-style: none;
    height: 15%;
    justify-content: space-evenly;
    padding: 10px 20px 5px 20px;
    border-bottom: 1px solid navy;
}

.s_calendar_year_con li,
.s_calendar_year_con li i {
	font-size: 18pt;
	line-height: 30px;
}

.s_calendar_year_con li:hover {
	cursor: pointer;
	transition: 0.5s;
	color: white;
}
	
.s_calendar_month_con {
	display: block;
    list-style: none;
    margin-top: 8px;
}

.s_calendar_month_row {
	display: flex;
}

.s_calendar_month_row div {
    width: 60px;
    height: 40px;
    text-align: center;
    border: 1px solid navy;
    margin: 3px auto;
    line-height: 40.5px;
    border-radius: 5px;
}

.s_calendar_month_row div:hover {
	cursor: pointer;
	background-color: navy;
	color: white;
	transition: 0.5s;
}
.submit_btn {
    cursor: pointer;
    border: none;
    outline: none;
    width: 140px;
    background-color: navy;
    color: white;
    justify-content: center;
    height: 40px;
    border-radius: 8px;
}
.submit_con {
    height: 100px;
    text-align: right;
    margin-left: 3.33%;
    margin-right: 3.33%;
}