* {
	margin: 0;
	padding: 0;
}

/* 레이아웃 */
.working_hour,
.holiday,
.tmp_holiday {
	margin-bottom: 40px;
}

/* 에러메세지 */
.error_msg {
	text-align: left;
    margin-top: 10px;
    font-weight: 600;
	
}

/* 숨기기(hide) */
.hide {
	display: none !important;
}

/* 색(color) */
.bg_red {
	background-color: #f38181 !important;
	
}

.bg_mint {
	background-color: #95e1d3 !important;
}

/* 정기 휴무 캘린더 배경색 */
.reg_holiday {
	height: 10px;
    width: 10px;
    margin-left: 3px;
	background-color: #f38181 !important;
}

.temp_holiday {
	height: 10px;
    width: 10px;
    margin-left: 3px;
	background-color: #95e1d3 !important;
}

.reg_holiday h {
	color: white;
}

.marker_con {
	position: absolute;
    background-color: transparent;
    height: 18px;
    width: 100%;
    top: 1px;
    display: flex;
}

.marker_wrapper {
	display: block;
    margin-top: 10px;
}

.marker_info_con {
	justify-content: flex-end;
    display: flex;
}

.marker_bar {
	width: 50px;
    height: 10px;
    margin: auto 10px auto 0;
}

.marker_info {
	letter-spacing: 2px;
    font-size: 11pt;
	margin: auto 0;
}

 
/* 폰트 옵션 */
.text_blue {
	color: #3b5998;
}

.text_skyblue {
	color: #6495EF;
}

.text_red {
	color: red;
}

.text_thick {
	font-weight: bold;
}

/* 버튼 default */
.btn {
	cursor: pointer;
	border: none;
	outline: none;
	color: white;
	background-color: #f38181;
}

.btn:hover {
	background-color: navy;
	transition: .5s;
	color: white;
}

.btn:focus {
	outline: none;
}

.border_r {
	border-radius: 1px;
	box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.3);
}

.border_l {
	border-radius: 1px;
	box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.3);
}

/* 그림자(hover) */
.shadow {
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
	border-radius: 3px;
}

.form {
	background-color: whitesmoke;
	padding: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3)
		0px 1px 3px -1px;
}

.form:hover {
	transition: 0.5s;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 5px -1px, rgba(0, 0, 0, 0.3)
		0px 10px 15px 3px;
}

/* 투명도 */
.transparent {
	opacity: 0.7
}

/* 제목 & 수정 버튼 */
.content_title_con {
	display: flex;
	justify-content: space-between;
	margin: 5px 0 10px 0;
	text-align: left;
}

.content_title {
	text-align: left;
	margin: 5px 0 10px 0;
	font-size: 19pt;
	font-weight: 300;
	color: navy;
	border-top: 1.7px solid navy;
	border-bottom: 2.5px solid navy;
}

.btn_con {
	display: flex;
}

.format_btn, .update_btn {
	display: flex;
	width: 140px;
	justify-content: center;
	height: 40px;
	border-radius: 8px;
}

.format_btn {
	background-color: #6495EF;
}

.update_btn {
	background-color: #3b5998;
}

.format_btn:hover, .update_btn:hover {
	background-color: navy;
}

.update_btn {
	margin-left: 10px;
}

.icon_con i {
	font-size: 15pt;
	line-height: 40px;
}

.btn_title {
	font-size: 12pt;
	line-height: 40px;
	margin-left: 10px;
}

/* 영업 요일 */
.working_hour_input {
	display: block;
}

.select_con {
	/* display: flex; */
	display: block;
}

.radio_con {
	display: flex;
}

.radio_con input {
	display: none;
}

.radioBtn {
	width: 100px;
	height: 50px;
	margin-right: 20px;
}

.radioBtn:hover {
	background-color: navy;
	transition: .5s;
	color: white;
}

.checkbox_con {
	display: flex;
	margin: 12px 0 0 0;
	height: 0;
}

.checkbox_con input {
	display: none;
}

.checkBtn {
	width: 120px;
	height: 30px;
	font-size: 12pt;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	margin-right: 20px;
	background-color: #f38181;
	color: whitesmoke;
}

.checkBtn:hover {
	background-color: navy;
	transition: .5s;
}

.checkBtn:disabled {
	cursor: auto;
	background-color: inherit;
	transition: 0.7s;
	pointer-events: none;
}

.checkBtn:active {
	transition: 0.7s;
}

/* 영업 시간 */
.input_time_form {
	display: flex;
	margin-top: 20px;
}

.input_time_con, .input_title_con {
	display: block;
	list-style: none;
}

.day_range, .time_range {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	height: 40px;
    padding: 7px 10px;
    border-bottom: 1px solid black;
    border-bottom-style: groove;
    justify-content: space-between;
}
    
/* 	background-color: antiquewhite;
    border-radius: 5px; */
}

.day_range {
	/* background-color: whitesmoke;	
    border-radius: 5px; */
}

.day_range div {
	margin: auto;
	font-weight: 500;
    font-size: 13pt;
}

.time_range input[type="number"] {
	width: 70px;
	height: 36px;
	text-indent: 10px;
	margin: auto 5px;
	font-size: 14pt;
}

.time_range input[type="number"]::-webkit-outer-spin-button, .time_range input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.time_range input[type="number"]:focus {
	outline: none;
}

.time_zone_con {
	display: flex;
}

.time_zone_input {
	display: none;
}

.time_zone_btn {
	width: 50px;
	height: 100%;
	background-color: #95e1d3;
}

.time_range_text {
    width: 50px;
	text-align: center;
	margin: auto 20px;
}

.input_title_con {
	width: 200px;
	margin-right: 20px;
	text-align: center;
}

.input_time_con {
	width: calc(100% - 200px);	
}

.all_day_con {
	width: 100px;
}

.all_day_con button {
	width: 100px;
	height: 100%;
	background-color: #6495EF;
}

/* 정기 휴무 설정 */
.holiday_input_con {
	
}

.select_wrapper {
	display: flex;
    height: 60px;
    margin-bottom: 30px;
    margin-top: 20px;
    justify-content: space-between;
}

.select_box_con {
	display: flex;
	margin: auto 0;
}

.select_box_con select {
	height: 40px;
    width: 100px;
    background-color: #f38181;
    border: none;
    color: white;
    margin-right: 35px;
    margin-bottom: 30px;
    text-indent: 3px;
    margin: auto 0;
}

.select_box_con select:hover {
	cursor: pointer;
	transition: 0.5s;
	background-color: navy;
}

.day_selector_con {
	display: flex;
	margin: auto 0;
	width: calc(100% - 300px);
}

.day_selector {
	border: none;
    cursor: pointer;
    background-color: #95e1d3;
    margin-left: 11px;
    width: 90px;
    font-size: 15pt;
    height: 100%;
    color: white;
    line-height: 45px;
    text-align: center;
    height: 40px;
}

.day_selector:hover {
	background-color: navy;
	transition: 0.5s ease-in-out;
}

.day_selector input {
	display: none;
}

.day_select_btn {
	margin: auto 0;
	border: none;
    background-color: #6495EF;
    margin-left: 11px;
    width: 100px;
    font-size: 15pt;
    height: 100%;
    border-radius: 5px;
    color: white;
    line-height: 45px;
    text-align: center;
    height: 40px;
}

/* 휴무 스케쥴 */
.h_schedule_con {
	list-style: none;
    display: inline-flex;
	width: 100%;
}

.h_schedule_list {
	position: relative;
	display: block;
    margin-right: 20px;
    background-color: #f38181;
    border: none;
    width: 200px;
    height: 250px;
	border-top: groove;
}

.h_schedule_list:hover {
	transition: 1s;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.h_schedule_remove {
    position: absolute;
    width: calc(100% - 10px);
    text-align: right;
    margin-top: 3px;
    font-size: 18pt;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.h_schedule_remove:hover {
	color: navy;
    font-size: 20pt;
	transition: 1s;
}

.h_schedule_week {
    padding: 20px;
    color: white;
    background-color: #6495EF;
}

.h_schedule_day {
    margin: 5px;
}

.h_schedule_context {
	margin: auto 0;
	word-spacing: 10px;
}

.h_schedule_delete {
	background-color: red;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
}

.h_schedule_delete:hover {
	cursor: pointer;
}

.h_schedule_delete p {
	font-weight: 600;
    text-decoration: underline;
    text-underline-position: under;
}

.scheduled_days {
	font-weight: 600;	
}

.h_week {
	letter-spacing: 5px;
}

.h_day {
	font-size: 13pt;
    color: white;
	letter-spacing: 2px;
}

.tmp_holiday_input_con {
	margin-top: 20px;
}

.set_day_range_con {
	height: 50px;
    display: flex;
}

.set_day_range_con input {
	margin-right: 30px;
    border: none;
    background-color: #f38181;
    border-radius: 5px;
    padding: 0 0 0 15px;
    font-size: 12pt;
    color: white;
    letter-spacing: 3px;
    font-size: 14pt;
}

.set_day_range_con input[type="date" i]:hover {
}

.set_day_range_con input[type="date"]::-webkit-calendar-picker-indicator {
	cursor: pointer	
}

.set_day_range_con i:hover {
	cursor: pointer;	
}

.set_day_range_con input:hover {
	cursor: pointer;
}

.set_day_range_con input:focus {
	outline: none;
}

.set_day_range_con input:invalid + div::after {
  /* content: '✖'; */
}

.set_day_range_con input:valid + div::after {
  /* content: '✓'; */
}
	
.date_arrow {
	margin: auto 30px auto 0;
}

.date_arrow i {
	font-size: 20pt;
}

/* 임시 휴무 설정 & 사유 */

.tmp_holiday_reason_con {
	display: block;
    text-align: left;
	margin-bottom: 50px;
}

.reason_form {
	padding: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3)
		0px 1px 3px -1px;		
}

.reason_form:hover {
	transition: 0.5s;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 5px -1px, rgba(0, 0, 0, 0.3)
		0px 10px 15px 3px;		
}

.reason_title,
.set_day_range_con,
.text_area_con,
.reason_btn,
.error_msg {
	margin-bottom: 20px;
}

.reason_title {
	padding: 10px 0 0 0;
}

.text_area {
	resize: none;
	width: calc(100% - 20px);
    height: 100px;
    font-size: 15pt;
    text-indent: 10px;
    padding: 10px;	
    line-height: 30px;
	letter-spacing: 2px;
}

.tmp_holiday_reason_con button {
	background-color: #6495EF;
	width: 150px;
    height: 50px;
    border-radius: 5px;
}

/* 임시 휴무 리스트 */
.tmp_holiday_list_con {
	height: 500px;
}

.tmp_holiday_list {
	/* width: 100%; */
}

.list_con,
.list_filter_content,
.list_content {
	list-style: none;
}

.list_con {
	display: block;
}

.list_filter {
	margin: 10px 0;
}

.list_filter_content {
	display: flex;
	padding-bottom: 8px;
	border-bottom: 2.5px solid navy;
	font-weight: 600;
}

.list_filter_content_item {
	cursor: pointer;
	margin-right: 20px;
	padding: 5px 10px;
    border-radius: 5px;
    display: flex;
}

.list_filter_content_item:hover {
	transition: 0.5s;
	background-color: #f38181;
	color:white;
}

.list_filter_content_item i {
	line-height: 22px;
	margin-left: 3px;
}

.list_content_con {
	padding: 5px 10px;
}

.list_content {
	display: flex;	
	justify-content: space-between;
	margin: 30px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid navy;
}

.list_content i {
	cursor: pointer;
	line-height: 22px;
	margin: 0 0 0 30px;
}

.list_content li {
	display: flex;
}

.list_content li div {
	/* font-size: 15pt; */
}

.period_con {
	width: 250px;
    justify-content: space-between;
}

.period_view_default,
.period_view_input {
	display: flex;
    justify-content: space-between;
}

.period_view_default {
	width: 200px;
}

.period_view_input {
	/* width: 250px; */
}

.period_view_input div {
	margin: 0 10px;
}

.period_view_input input[type="date"] {
    width: 110px;	
}

.period_view_input input[type="date"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
	padding: 0;
	margin: 0;
}
	
.reason_con {
	width: 800px;
	margin-left: 20px;
}

.reason_view_input {
	width: 100%;
	text-indent: 5px;
}

.remove_icon {
	color: #f38181;
}

.complete_icon {
	color: #6495EF;
}

.cancle_icon {
	color: black;
}

.update_icon {
	color: navy;
}
