/* single page login format */
.single_page_login {
	width: 500px;
	margin: 150px auto;
}

/* Login Default Style*/
.login_wrapper * {
	margin: 0;
	padding: 0;
}

/* Login Wrapper */
.login_wrapper {
	width: 50%;
	/* Login Box Height */
	height: 300px;
	overflow: hidden;
}

/* Title */
.login_title {
	height: 20%;
	font-weight: bold;
	text-align: center;
	margin: 10px auto;
}

.login_title p {
	color: #3b5998;
	font-size: 30pt;
	letter-spacing: 10px;
    margin: 25px;	
}

/* Input Container (with Input Tags) */
.login_input_con {
	height: 80%;
	margin: auto;
	padding-top: 10px;
}

.login_input_con div {
	margin: auto;
	display: block;
	width: 80%;
	height: 33.33%;
}

.login_input_con input {
	border: none;
	outline: none;
	border-radius: 15px;
	font-size: 15pt;
	width: 100%;
	height: 70%;
	background-color: #DEDFDF;
}

.login_input_con .login_button_con input {
	background-color: #8b9dc3 !important;
}

/* Login & Join Button Container*/
.login_button_con {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	box-sizing: content-box;
}

/* Login & Button */
.login_input_con input[type=button] {
	background-color: #e5e6eb;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	width: 40%;
	padding: 0;
	color: white;
}

.login_input_con button {
	background-color: #8b9dc3;
	letter-spacing: 2.5px;
	text-transform: uppercsase;
	border: none;
	outline: none;
	border-radius: 30px;
	font-size: 15pt;
	height: 70%;
	width: 40%;
	border-radius: 15px;
	padding: 0;
	width: 40%;
	color: white;
}

/* input: focus */
input[type=text]:focus, input[type=password]:focus {
	transition: all 0.3s ease 0s;
	transform: translate(-1px, -1px);
	box-shadow: 0px 15px 20px rgba(223, 227, 238);
}

/* Button hover */
input[type=button]:hover, button:hover {
	transition: all 0.3s ease 0s;
	cursor: pointer;
	box-shadow: 0px 15px 20px rgba(223, 227, 238);
	transform: translate(-2px, -2px);
}

.single_page_login_form {
	background-color: #dfe3ee;
    border-radius: 5px;
    margin: 10px auto;
    padding: 90px 50px 50px 50px;
}

.single_page_login_form input[type=text] {
	margin-bottom: 38px;
    height: 40px;
    text-indent: 15px;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-family: auto;
    font-weight: 400;
    font-size: 11pt;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 2px;
}

.single_page_login input[type=password] {
	margin-bottom: 6px;
    height: 40px;
    text-indent: 15px;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-family: auto;
    font-weight: 400;
    font-size: 11pt;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 2px;
}

.single_page_login_form .input_title {
	margin-left: 20px;
    margin-bottom: 7px;
    text-indent: -10px;
}

.single_page_login .login_form {
	background-color: #D4F5FD;
	border-radius: 5px;
	padding: 50px 0;
}

.single_page_login_btn {
	background-color: #3b5998;
    height: 35px;
    border-radius: 5px;
    letter-spacing: 2.5px;
    width: 100%;
    padding: 0;
    color: white;
    margin: 10px auto 40px auto;
    border: none;
    outline: none;
    font-size: 16pt;
    margin-top: 38px;
}

.login_search_con {
}

.single_page_login input[type=button] {
	margin: 15px auto 20px auto;
	color: white;
}

.login_search_con div {
	margin: 20px;
}

.login_search_con div a {
	text-decoration: none;
}

.single_store_id_con {
	display: table;
	margin-top: 10px;
}

/* Modal Box */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.md_overlay {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
}

.md_content {
	width: 40%;
	position: relative;
	padding: 50px 50px;
	background-color: white;
	text-align: center;
	border-radius: 6px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20), 0 6px 6px
		rgba(0, 0, 0, 0.20);
}

.close_button {
	padding: 0;
	outline: none;
	border: none;
	justify-content: right;
	background-color: transparent;
	float: right;
	position: inherit;
	font-size: 15pt;
}

h1 {
	margin: 0;
	padding: 5px;
}

.hidden {
	display: none;
}

.modal_selectbox {
	padding: 16px;
}

.modal_selectbox button {
	width: 150px;
	height: 50px;
	outline: 0;
	border: none;
	font-size: 13pt;
}