body {
    position: relative;
    padding: 0;
    margin: 0;
}

/* visible */
.visible {
	visibility: visible !important;
}

.invisible {
	visibility: hidden !important;
}

/* cursor */
.pointer {
	cursor: pointer;
}

/* transition */
.transition_1s {
	transition: all 1s;
}

/* viewer */
.viewer_wrapper {
	position: absolute;
    top: 100px;
    height: calc(100vh - 100px);
    width: 100%;
}

.viewer_con {
	height: 100%;
	overflow: hidden;
}

.viewer {
	width:100%;
	height: 100%;
	transition: all 1s;
	transform: translateY(0%);
}

.viewer_up {
    visibility: hidden;
	z-index: 1;
	position: absolute;
    width: 100%;
    height: 50px;
    background-color: beige;
    top: 0;
    transition: all 1s;
}

.viewer_down {
    visibility: hidden;
    z-index: 1;
	position: absolute;
    width: 100%;
    height: 50px;
    background-color: navy;
    bottom: 0;
    transition: all 1s;
}

.bg_red {
	background-color: #f38181;
}

.bg_mint {
	background-color: #95e1d3;
}

.bg_grey {
	background-color: #eee
}

.bg_blue {
	background-color: #6495EF
}