body {
    position: relative;
    padding: 0;
    margin: 0;
}

.viewer_wrapper {
	position: absolute;
    top: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #eee;
}

.viewer {
	width:100%;
	height: 100%;
	background-color: navy;
}

.bg_red {
	background-color: #f38181;
}

.bg_mint {
	background-color: #95e1d3;
}

.bg_grey {
	background-color: #eee
}

.bg_blue {
	background-color: #6495EF
}