* {
	marign: 0;
	padding: 0;
}

/* Header Wrapper */
.h_wrapper {
	display: flex;
	height: 100%;
}

/* Logo */
.h_left_con {
	width: 30%;
	min-width: 360px;
	float: left;
	justify-content: center;
	align-items: center;
}

.h_left_con img {
	width: 100%;
	height: auto;
}

/* Navigation Wrapper */
.h_right_con {
	width: 100%;
	float: right;
	display: block;
}

/* Navigation > Member > login ... */
.h_right_upper {
	height: 35%;
	text-align: right;
	line-height: 2em;
}

.upper_options {
	margin: 0 10px;
	cursor: pointer;
	font-weight: 600;
	color: #3b5998;
}

.upper_options i {
	font-weight: 600;
}

/* Navigation > SubMenu > 1, 2, 3, 4 ... */
.h_right_lower {
	color: #3b5998;
	height: 65%;
	display: flex;
	justify-content: space-around;
	padding-left: 200px;
	line-height: 4em;
}

.h_right_lower div {
	margin-left: 20px;
	font-size: 25pt;
	font-weight: 1000;
	cursor: pointer;
	overflow: hidden;
}

/* Navigation > Member > Select Stores with drop-down function */
.menu {
	font-size: 15px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.menu a {
	display: block;
    width: 100px;
    text-align: center;
    background-color: #dfe3ee;
    color: #3b5998;
    text-decoration: none;
    border-radius: 10px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

#menulist {
	position: absolute;
    top: 35px;
    padding-top: 5px;
    background-color: #f7f7f7;
    display: none;
    border: none;
    outline: none;
    text-align: center;
    width: 100px;
    z-index: 1;
    width: 100px;
}

#menu:hover #menulist {
	width: 100px;
	display: block;
	overflow: auto;
	
}

.menulist div {
	margin-left: 0px;
	padding: 3px;
	width: 90%;
}

.menulist li {
	list-style: none;	
}
