body {
    position: relative;
    padding: 0;
    margin: 0;
}

.viewer_wrapper {
	position: absolute;
    top: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #eee;
}

.viewer_con {
	height: 100%;
	overflow: hidden;
	transition: all 1s;
}

.viewer {
	width:100%;
	height: 100%;
	background-color: navy;
}

.viewer_up {
	position: absolute;
    width: 100%;
    height: 50px;
    background-color: beige;
    cursor: pointer;
    top: 0;
}

.viewer_down {
	position: absolute;
    width: 100%;
    height: 50px;
    background-color: navy;
    cursor: pointer;
    bottom: 0;
}

.bg_red {
	background-color: #f38181;
}

.bg_mint {
	background-color: #95e1d3;
}

.bg_grey {
	background-color: #eee
}

.bg_blue {
	background-color: #6495EF
}