/*
	[css 작성 규약]
	
	0. css 작성 순서
	  - width, height
	  - padding , margin
	  % 큰단위 순서대로 내려옵니다
	  
	
	1. 묶을 수 있는 것은 최대한 묶는다
		ex) body, footer, section 배경이 하얀색이면
		body,footer,section {
			background-color : white;
		}
	
	2. 중복되는 코드는 사용하지 않는다.
	
	3. 명시적인 클래스명을 사용한다.
	
	4. 클래스명은 카멜 표기법으로
	
	5. 코드에 주석 작성
	
	
	
	
*/
@charset "utf-8";
* {
    user-select: none;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-size: 16px;
    

}



body,header,section {
	background-color: white;
}

footer {
  	height: 100px;
  }
  
  section {
  	height: 1000px;
  }

/* 메인 페이지 영역별 미디어쿼리 */
@media (min-width:1401px) {
  body {
	background-color: green;
    text-align: center;
    
    max-width: 1800px;
    min-width: 1400px;    
    
    height: 1500px;
	}
  
  header {
	background-color: white;
    text-align: left;
    
	max-width: 1800px;
	min-width: 1400px; 
    
    height: 100px;	
  }
  
  footer, section {
  
  	margin: auto;
	background-color: white;
    text-align: center;
    
    max-width: 80%;
  }
}


@media (max-width:1400px) {
  body {
	background-color: blue;
    text-align: center;
    
    max-width: 1400px;
    min-width: 1200px;
    
    height: 1000px;   
	}
  
  header {
	background-color: white;
    text-align: left;
    
    max-width: 1400px;
    min-width: 1200px;
    
    height: 100px;	
    
    padding: 0;
  }
  
  footer, section {
    margin: 0 auto;
	background-color: white;
    text-align: center;
    
    width: 80%;
    max-height: 1000px;
  }
}

@media (max-width:1200px) {
  body {
	background-color: yellow;
    text-align: center;
    
    max-width: 1200px;
    min-width: 1000px;
    
    height: 1000px;   
	}
  
  header {
	background-color: white;
    text-align: left;
    
    max-width: 1200px;
    min-width: 1000px;
    
    height: 100px;
  }
  
  footer, section {
    margin: 0 auto;
	background-color: white;
    text-align: center;
    
    width: 80%;
    max-height: 1000px;
  }
}

.marginzero {
	margin: 0;
}

.inlineBlock {
	display: inline-block;
}

div .verticalCenter {
   position:relative;
   top:50%;
}

div .parent {
    display: flex;
    align-items: center;
}

