/*
	[css 작성 규약]
	
	0. css 작성 순서
	  - width, height
	  - padding , margin
	  % 큰단위 순서대로 내려옵니다
	  
	
	1. 묶을 수 있는 것은 최대한 묶는다
		ex) body, footer, section 배경이 하얀색이면
		body,footer,section {
			background-color : white;
		}
	
	2. 중복되는 코드는 사용하지 않는다.
	
	3. 명시적인 클래스명을 사용한다.
	
	4. 클래스명은 카멜 표기법으로
	
	5. 코드에 주석 작성
	
	
	
	
*/
@charset "utf-8";
* {
    user-select: none;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-size: 16px;
    
/*     수정 임시용.. */
/*     margin:0; */
/*     padding:0; */
}


/* body, header, nav, ul, li, section, article, div, footer { */
/*     margin:0; */
/*     padding:0; */
/* } */


body,header,section {
	background-color: white;
}
body {
/* 	border: 1px solid black; */
    margin: auto;
/*     padding: 20px 0px 0px 0px; */

/* 	최대크기 */
    max-width: 1900px;
    max-height: 3000px;

/* 	최소크기 */
    min-width : 100%;
    min-height: 2500px;
    
}

header {
	width: 100%;
	height : 70px; 
	
	padding-left: 30px;
	padding-right: 30px;
	
	border-bottom: 1px solid #EAEAEA;
	
}

section {
	width: 100%;
	height : 500px;
}


footer {
	width: 100%;
	height : 500px;
	background-color: #373737;
    position: absolute;
    top: 2400px;
}