html {

  /* 	최대크기 */

  width: 1900px;

  /* height: 3000px; */

}

 

* {

  box-sizing: border-box;

}

 

/* header { */

/*   width: 100%; */

/*   height: 70px; */

/*   background-color: salmon; */

/* } */

 

section {

  display: flex;

  justify-content: center;

  flex-wrap: wrap;

  height: 100%;

}

 

/* login */

.login,

.join {

  display: flex;

  justify-content: center;

  margin-top: 100px;

  margin-bottom: 70px;

  background-color: white;

  width: 370px;

  height: 400px;

  padding: 30px;

  border: #eaeaea;

  box-shadow: 5px 5px 5px 5px #eaeaea;

  color: black;

}

 

.login-logo {

  width: 100%;

  height: auto;

  margin-bottom: 10px;

}

 

.login-alert,

.join-alert {

  width: 100%;

  height: 20px;

  color: red;

  font-size: smaller;

  line-height: 20px;

  display: none;

}

 

.login-input {

  height: 300px;

  display: block;

}

 

.login-input-boxs,

.join-input-boxs {

  width: 100%;

  height: 45px;

  margin: 5px 0px;

  padding: 0 5px;

}

 

.login-input-boxs:focus,

.join-input-boxs:focus {

  outline: 2px solid #35aefd;

}

 

.login-check {

  margin: 10px 0px;

  height: 30px;

  line-height: 30px;

}

 

.login-storeid {

  float: left;

  margin: 0px;

  margin-top: 8px;

  margin-right: 5px;

}

 

.login-idFind {

  float: right;

  color: black;

  text-decoration: none;

}

 

.login-input-buttons,

.join-input-buttons {

  width: 100%;

  margin: 5px 0px;

  height: 65px;

  border: none;

  background-color: #35aefd;

  font-size: larger;

  font-weight: bolder;

  color: white;

}

 

/* join */

.join {

  height: 950px;

}

 

.join-input-boxs {

  margin: 10px 0px;

}

 

.checkTelNotice {

  margin: 10px 0px;

}

.checkTelNotice ul {

  padding-left: 15px;

  width: 100%;

}

.checkTelNotice ul li {

  font-size: 10px;

  margin-bottom: 5px;

}

 

#zipcode,

#usertel {

  width: 65%;

}

 

#findZipcode,

#checkTel {

  width: 32%;

  height: 45px;

  font-size: medium;

  color: #d8d8d8;

  border: 2px solid #eaeaea;

  background-color: #ffffff;

}

 

/*customerMenu*/

.userMenu-row,

.bookmark-row {

  display: flex;

  justify-content: center;

  width: 100%;

}

 

.userMenu {

  width: 300px;

  height: 150px;

  border: 1px solid #eaeaea;

  box-shadow: 5px 5px 5px 5px #eaeaea;

  margin: 15px 15px;

  background-color: #ffffff;

  border-radius: 20px;

  padding: 20px;

  cursor: pointer;

}

 

.userMenu-imgs {

  height: 30px;

  width: auto;

  color: white;

}

 

.fa-portrait {

  font-size: 30px;

}

 

.userMenu-context {

  width: 250px;

  height: 60px;

  text-align: left;

}

 

.userMenu-context h2 {

  font-size: larger;

  margin: 10px 0px;

}

 

.userMenu-context h2 img {

  height: 12px;

  width: auto;

}

 

/* Bookmark */

.bookmark {

  position: relative;

  width: 600px;

  height: 300px;

  border: 1px solid #eaeaea;

  box-shadow: 5px 5px 5px 5px #eaeaea;

  margin: 15px 15px;

  border-radius: 20px;

  background-color: #ffffff;

  cursor: pointer;

}

 

.bookmark-context {

  position: absolute;

  background-color: #35aefd;

  height: 100px;

  width: 100%;

  bottom: 0px;

  border-bottom-left-radius: 20px;

  border-bottom-right-radius: 20px;

}