
* {
  box-sizing: border-box;
}

.section-SangJae{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: calc(100vh - 170px);
  padding-top: 70px;
  margin-bottom: 70px;
}

/* login */
.login,
.join {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
  margin-bottom: 70px;
  background-color: white;
  width: 370px;
  padding: 10px;
  border: #eaeaea;
  box-shadow: 5px 5px 5px 5px #eaeaea;
  color: black;
}

.login{
  height: 400px;
}

.login-logo {
  	width: 50px;
	height: auto;
	margin: 10px 5px;
	margin-bottom: 15px;
	display: flex;
	float: left;
}

.login-alert,
.join-alert {
  width: 100%;
  height: 20px;
  color: red;
  font-size: smaller;
  line-height: 20px;
  display: none;
}

.login-alert{
	margin-top:30px;
	padding-left: 100px;
	width: 80%;
}

.login-input {
  height: 100%;
  padding: 0px 20px;
  display: block;
}

.login-input-boxs,
.join-input-boxs {
  width: 100%;
  height: 45px;
  margin: 5px 0px;
  padding: 0 5px;
}

.login-input-boxs:focus,
.join-input-boxs:focus {
  outline: 2px solid #35aefd;
}

.login-check {
  margin: 10px 0px;
  height: 30px;
  line-height: 30px;
}

.login-storeid {
  float: left;
  margin: 0px;
  margin-top: 8px;
  margin-right: 5px;
}

.login-idFind {
  float: right;
  color: black;
  text-decoration: none;
}

.login-input-buttons,
.join-input-buttons {
  width: 100%;
  margin: 5px 0px;
  height: 65px;
  border: none;
  background-color: #35aefd;
  font-size: larger;
  font-weight: bolder;
  color: white;
}

/* join */
.join {
  position: absolute;
  min-height: 900px;
}

.join-input {
  height: auto;
  width : 100%;
  display: block;
}

.joinForm{
	width: 100%;
	height: 100%;
	padding: 20px;
}

.join-input-boxs {
  margin: 10px 0px;
}

.checkTelNotice {
  margin: 10px 0px;
}
.checkTelNotice ul {
  padding-left: 15px;
  width: 100%;
}
.checkTelNotice ul li {
  font-size: 10px;
  margin-bottom: 5px;
}

#zipcode,
#usertel {
  width: 65%;
}

#findZipcode,
#checkTel {
  width: 32%;
  height: 45px;
  font-size: medium;
  color: #d8d8d8;
  border: 2px solid #eaeaea;
  background-color: #ffffff;
}

/*customerMenu*/

.userMenu-wrap{
	height: 100%;
	width: 100%;
}

.userMenu-row{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.bookmark-row {
  display: inline-block;
  justify-content: center;
  width: 1300px;
  height: auto;
}

.userMenu {
  width: 300px;
  height: 150px;
  border: 1px solid #eaeaea;
  box-shadow: 5px 5px 5px 5px #eaeaea;
  margin: 15px 15px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
}

.userMenu-imgs {
  height: 30px;
  width: auto;
  color: white;
}

.fa-portrait {
  font-size: 30px;
}

.userMenu-context {
  width: 250px;
  height: 60px;
  text-align: left;
}

.userMenu-context h2 {
  font-size: larger;
  margin: 10px 0px;
}

.userMenu-context h2 img {
  height: 12px;
  width: auto;
}

/* Bookmark */
body .section-bookmark .bookmark_mainName {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   font-size: 30px;
}
.bookmark {
  display: inline-block;
  position: relative;
  width: 600px;
  height: 300px;
  border: 1px solid #eaeaea;
  box-shadow: 5px 5px 5px 5px #eaeaea;
  margin: 15px 15px;
  border-radius: 20px;
  background-color: #ffffff;
  cursor: pointer;
}

.bookmark-context {
  position: absolute;
  background-color: #35aefd;
  height: 100px;
  width: 100%;
  bottom: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 20px;
  line-height: 50px;

  font-weight: bolder;
}

/* OlderList */
/* 디테일페이지 모달, 영경작업 */
.order_review_modal {
	display: none;
}
.order_review_modal .modal_box {
	display:block;
	padding:10px;
}
.order_review_modal .modal_box .modal_title{
	font-weight:bold;
	font-size: 25pt;
	text-align: center;
}
.order_review_modal .modal_box form .modal_menu_1{
	text-align:center;
}
.order_review_modal .modal_box form .modal_menu_1 label#modal_orderListData{
	padding-right: 5pt;
	padding-left: 5pt;
}
.order_review_modal .modal_box form .modal_menu_1 label#modal_orderListData:hover{
	cursor: pointer;
	background-color: #EAEAEA;
	border-radius: 15px;
}
.order_review_modal .modal_box form .modal_menu_1 *{
	border: none;
	font-size: 17pt;
}
.order_review_modal .modal_box form .modal_menu_2 img{
	width:200px;
	height:200px
}
.order_review_modal .modal_box form .modal_menu_2 textarea{
	width:300px;
	height:200px;
	border: 2px dotted grey;
}
.order_review_modal .modal_box form .modal_menu_3 i{
	cursor: pointer;
	-webkit-text-stroke: none;
	color: orange;
}
.order_review_modal .modal_box form .modal_menu_4{
	text-align: center;
}
.order_review_modal .modal_box form .modal_menu_4 input{
	width:100px;
	height:50px;
}
/* ================ */

.orderlist-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.orderlist-card {
  width: 900px;
/*   height: 300px; */
  height : 370px;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px #eaeaea;
  margin-bottom: 30px;
}

.orderData1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid grey;
}

.orderData-company {
  display: inline-block;
  width: 50%;
  font-size: larger;
  font-weight: bold;
}

.orderData-circle {
  width: 20px;
  height: 20px;
  float: left;
  border-radius: 50%;
  border: 1px solid #eaeaea;
  box-shadow: 1px 1px 3px 1px grey inset;
  margin-left: 10px;
  margin-right: 10px;
}

.brandNaming {
	width : 100%;
	height : 20px;
}

.orderData-date {
  float: right;
  margin-right: 30px;
}

.orderData2 {
  width: 100%;
/*   height: 200px; */
  height: 270px;
  border-bottom: 1px solid grey;
}

.orderData-onGoing {
  display: flex;
  justify-content: center;
  align-items: center;
/*   width: 200px; */
/*   height: 200px; */
  width : 340px;
  height : 270px;
  float: left;
}

.orderData-onGoing img {
/*   height: 150px; */
  height: 220;
  width: auto;
}

.orderData-options {
  font-weight : bold;
  float: right;
  border-left: 1px solid grey;
/*   height: 200px; */
  height : 270px;
  width: 558px;
  overflow-y: scroll;
}

.orderData-options::-webkit-scrollbar,
.select-list::-webkit-scrollbar,
.detailview-selectOptions::-webkit-scrollbar {
  width: 5px;
}

.orderData-options::-webkit-scrollbar-thumb,
.select-list::-webkit-scrollbar-thumb,
.detailview-selectOptions::-webkit-scrollbar-thumb {
  background-color: #35aefd;
}

.orderData-options::-webkit-scrollbar-track,
.select-list::-webkit-scrollbar-track,
.detailview-selectOptions::-webkit-scrollbar-track {
  background-color: #a7dcff;
}

.orderData-options-head {
  font-size : 23px;
  height: 43px;
  background-color: #eaeaea;
  width: 100%;
  
  padding: 5px 10px;
}
[id*='orderData-option-main-'] {
	margin-top : 5px;
	border-top : solid;
	border-bottom : solid;
	padding-bottom : 10px;
/* background-color: #0100FF; */
  font-size : 20px;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  color : #000000;
  font-weight : bold;
}

[id*='orderData-option-sub-'] {
  margin-top : 5px;
  font-size : 18px;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  color : #5A5A5A;
  font-weight : bold;
  padding-left: 14px;
}



.orderData-options-head-originalprice {
	
  background-color: #eaeaea;
  width: 100%;
/*   height: 30px; */
  font-size : 19px;
  height: 35px;
  padding: 5px 10px;
}

.orderData-options-head-coupon {
  background-color: #eaeaea;
  width: 100%;
/*   height: 30px; */
  font-size : 19px;
  height: 35px;
  padding: 5px 10px;
}

.orderData-options-head-requests {
  background-color: #eaeaea;
  width: 100%;
/*   height: 30px; */
  font-size : 19px;
  height: 35px;
  padding: 5px 10px;
}



.orderData-options ul {
  color : #A2A2A2;
  font-size : 15px;
  list-style: none;
  padding: 5px;
  margin: 5px 5px;
  padding-left : 13px;
  font-style: normal;
  font-weight: bold;
}


.orderData-total {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: right;
  width: 100%;
  height: 50px;
  line-height: 40px;
  
  font-style: normal;
  padding-right: 30px;
}

.orderData-total-purchasedate {
	padding-left : 20px;
	display :inline-block; 
	text-align: left;
	width : 50%;
	float : right;
}

.orderData-total-totalamount {
	float : right;
	width : auto;
/* 	font-size: x-large; */
	font-weight: bold;
	
}
.orderData-total-totalprice {
	width : auto;
	font-weight: bold;
	font-size: x-large;
	float : right;
}

/*detail*/
.detailview-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1220px;
  height: 100%;
  padding: 20px 0px;
  background-color: white;
}

.detailview-top {
  display: flex;
  justify-content: space-between;
  height: 514px;
  width: calc(100% - 20px);
  background-color: #f7f7f7;
  border-radius: 20px;
  overflow: hidden;
}

.detailview-imgBlock {
  width: 570px;
  height: 514px;
  margin: 0;
  box-shadow: 5px 5px 5px 5px #d8d8d8;
}

.detailview-imgBlock-main,
.detailview-imgBlock-main img {
  width: 570px;
  height: 400px;
  background-color: teal;
}

.detailview-imgBlock-main img {
  cursor: pointer;
}

.detailview-imgBlock-subRow {
  width: 570px;
  height: 80px;
  font-size: 0;
}

.detailview-imgBlock-subRow img {
  width: 114px;
  height: 114px;
  margin: 0;
  background-color: salmon;
  cursor: pointer;
}

.detailview-companyIntro {
  width: 600px;
  height: 400px;
  margin-left: 20px;
  padding: 10px;
}

.detailview-intro-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.detailview-intro-headline h1 {
  margin: 0;
  font-size: x-large;
  font-weight: bolder;
}

.detailview-wrap .fa-star {
  font-size: x-large;
  color: white;
  -webkit-text-stroke: 2px skyblue;
  margin-right: 10px;
  margin-top: 3px;
  cursor: pointer;
}

.detailview-companyIntro textarea {
  width: 100%;
  height: 440px;
  resize: none;
  padding: 0;
  border: none;
  outline-style: none;
  background-color: #f7f7f7;
}

.detailview-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.detailview-selectOptions {
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 700px;
  overflow-y: scroll;
}

.add-coupon {
  border: 10px solid #35aefd;
  background-color: #35aefd;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #d8d8d8;
  height: 80px;
  width: 100%;
  margin-bottom: 30px;
  cursor: pointer;

  font-size: 40px;
  font-weight: 900;
  color: white;
}

.add-coupon:focus,
.detailview-select button {
  outline: none;
}

.option-row,
.selected-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border: 0.5px solid grey;
  border-radius: 5px;
  height: 60px;
  padding: 0px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: xx-small;
}

.option-text,
.selected-text {
  width: 300px;
  pointer-events: none;
}
check .option-name,
.selected-name {
  width: 250px;
  font-weight: bold;
  pointer-events: none;
}

.quantity {
  width: 60px;
  text-align: center;
}

.option-price {
  width: 100px;
  text-align: left;
  padding-left: 20px;
  pointer-events: none;
}

.quick {
  display: inline-block;
  width: 100px;
  height:58px;
  line-height:58px;
  font-size: small;
  cursor: pointer;
}

.quickcheck {
  display: none;
}

.fa-shipping-fast {
  color: #35aefd;
}

.quick input[type='checkbox'] {
  display: none;
}

.detailview-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  float: right;
  width: 550px;
  height: 810px;
  border: 1px solid #cacacab0;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #d8d8d8;
}
.selected-row {
  width: 525px;
  height: 60px;
  border: 0.5px solid grey;
  border-radius: 5px;
  margin: 5px 10px 5px 10px;
}

.select-list {
  height: 590px;
  overflow-y: scroll;
}
.select-head {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 80px;
  background-color: #35aefd;
  text-align: center;
  line-height: 80px;

  font-size: 30px;
  font-weight: 900;
  color: white;
}

.selected-row {
  cursor: default;
}

.selected-price{
	font-size: small;
	width: 80px;
	margin-left: 10px;
}

.selected-prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select-coupon {
  border: 1px solid #d8d8d8;
  border-left: none;
  border-right: none;
  height: 60px;
  padding: 10px;
  padding-left: 20px;
  line-height: 38px;
}

.select-coupon select {
  width: 440px;
}



.select-deli,
.select-quick {
  border-bottom: 1px solid #d8d8d8;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  text-align: right;
}

.remove-button {
  font-size: medium;
  color: #35aefd;
  border: none;
  background: none;
  cursor: pointer;
}

.fa-times {
  pointer-events: none;
}

.select-total {
  height: 50px;
  padding: 10px 10px;
  line-height: 30px;
  text-align: right;
  font-size: x-large;
  font-weight: bold;
}

.order-submit {
  width: 530px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #35aefd;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}

.detailview-review {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 1180px;
}

.detailview-review-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  width: 1180px;
  padding: 0px 20px;
}

.detailview-review-row {
  margin-bottom: 10px;
  width: 560px;
}

.review-head {
  display: flex;
  justify-content: flex-start;
  border-collapse: collapse;
  padding: 5px;
}

.review-profilePic {
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
/*   background-image : url(https://i1.wp.com/tccwayland.org/wp-content/uploads/2018/02/blank-profile-picture-973460_1280.png?fit=300%2C300&ssl=1) center no-repeat; */
  background : url(https://az-pe.com/wp-content/uploads/2018/05/kemptons-blank-profile-picture.jpg) center no-repeat;;
  background-size: contain;
}

.review-writer {
  width: 400px;
  text-align: left;
  display: table;
}

.review-writer p {
  margin: 5px 5px;
}

.review-writer p strong {
  font-weight: bold;
}
.review-context {
  width: 100%;
  min-height: 100px;
  padding: 10px;
}

.review-more {
  background-color: rgba(89, 147, 255, 0.3);
  border: none;
  outline-style: none;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
}

.modal-total {
  background-color: ivory;
  height: 100%;
  width: 200px;
}

.modal-payment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  position: relative;
  width: 400px;
  height: 100%;
  padding: 10px;
  background-color: khaki;
}

.payment-total {
  background-image: '';
}

.modal-payment-head {
  height: 40px;
  line-height: 40px;
}

.modal-payment textarea {
  height: 150px;
  resize: none;
  overflow-y: scroll;
}

.modal-myCardList {
  width: 100%;
  height: 50px;
  margin: 10px 0px;
  margin-bottom: 5px;
}

.modal-check {
  width: 185px;
}

.modal-submit {
  width: 100%;
  height: 50px;
}

.modal-couponList {
  width: 450px;
  height: 50px;
}

.modal-addCoupon {
  width: 80px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #35aefd;
  font-size: large;
  font-weight: 900;
  color: white;
}

.modal-grade {
  width: 400px;
  padding: 10px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content1,
.modal-content2,
.modal-content3,
.modal_box {
  display: none;
  justify-content: space-between;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 600px; /* Could be more or less, depending on screen size */
  height: 400px;
}

.modal-content1 {
  display: none;
  justify-content: space-between;
  padding: 30px;
  height: 110px;
}

.modal-content3 {
  display: none;
  justify-content: center;
  padding: 30px;
}

.modal-content4 {
  min-width: 40%;
  max-width: 600px;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  justify-content: space-between;
  background-color: #fefefe;
  overflow: scroll;
}
/* The Close Button */
.close {
  height: 40px;
  float: right;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  line-height: 20px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/**/
.section-join{
	height:1200px;
}
.section-menu{
	height:600px;
}
.section-bookmark,{
.section-orderlist
	height:auto;
}
